*{
  font-family: 'Merriweather', serif;
}

#contact-form{
  width: 400px;
}
#navbar{
  position: sticky;
  top:0;
}
#about-btn:hover, #projects-btn:hover, #contact-btn:hover{
  background-color: black;
  color: white !important;
  border-radius: 0.5rem;
}
main{
  background-image: radial-gradient(#000033,#050114, #040157);

}
#about-me-text{
  font-size: 1.4rem;
  line-height: 2.6rem;

}
