:root{
  --title-font: 'Kanit', sans-serif;;
  --write-font: 'Roboto Condensed', sans-serif;
  --purple-accent:#725aff;
  --purple-gradient: linear-gradient(to right, #3377ff, #725aff );
}
/* background-color: rgb(246,249,252);   #073b4c;*/
/*navbar*/
        nav{
          display: flex;
          justify-content: space-between;
          border-bottom: 4px solid var(--purple-accent);
          background-color: #1e2019
        }
        #justin-flanagan{
          font-family: 'Fuzzy Bubbles', cursive;;
          font-size: 3rem;
          color: #ffffff;
        }
        #social a:nth-child(even), #nav-info a:nth-child(even){
          border-right: 1.2px solid var(--purple-accent);
          border-left:  1.2px solid var(--purple-accent);
        }
        #social a:nth-child(1), #nav-info a:nth-child(1){
          border-right: 1.2px solid var(--purple-accent);
        }
        #social a:nth-child(3), #nav-info a:nth-child(3){
          border-left:  1.2px solid var(--purple-accent)
        }

        nav div{
          display:flex;
          justify-content: space-evenly;
          align-items: center;
        }
        nav div a{
          display: flex;
          align-items: center;
          color:#ffffff;
          font-weight: 700;
          font-family: var(--write-font);
        }
        nav div:nth-child(odd){
          font-size: 1.15rem;
        }
        nav div a:hover{
          color:var(--purple-accent);
        }
/*end of nav bar*/

/*first section*/
        #first-section{
          background: rgb(208,206,206);
          background: radial-gradient(circle, rgba(208,206,206,1) 18%, rgba(212,207,207,1) 19%, rgba(212,212,212,1) 21%, rgba(217,214,214,1) 23%, rgba(213,213,213,1) 25%, rgba(218,215,219,1) 26%, rgba(217,215,218,1) 27%, rgba(222,219,224,1) 29%, rgba(227,226,228,1) 31%, rgba(235,234,236,1) 35%, rgba(255,255,255,1) 100%);
          min-height: 80vh;
          justify-content: center;
        }
        #first-section p{
          text-align:center;
        }
        #first-section p:nth-child(odd){
          font-family: var(--write-font);
          font-size: 3.5rem;
          color: var(--purple-accent);
          font-weight: 900;
        }
        #first-section p:nth-child(even){
          font-family: var(--title-font);
          font-size:2.2rem;
          color: #17021f;
          padding-top:5rem;
          font-weight: 700;

        }
/*skills-section*/
          #skills-section>*{
            text-align:center;
          }
          #skills-section h2{
            font-family: var(--title-font);
            font-size:4.1rem;
            font-weight: 700;
            color: #1e2019;
          }
          #skills-section h3{
            font-family: var(--title-font);
            font-size:2.7rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
           
          }
          #skills-section h3 span{
            background: var(--purple-gradient);
            background-position: 0 100%;
            background-size: 100% 3px;
            background-repeat: repeat-x;
          }
          .icon-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:5rem;
          }
          #skills-section h3::after{
            content: "";
            width: 32px;
            padding-top: 3px;
            border-bottom: 200px solid #000000;
          }
#contact-form{
  width: 400px;
}


.box>*{
  color: black;
}
#projects-underline{
  height:5px;
  background-color:white;
  border-radius: 5rem;
}
#projects-h2{
  font-size: 4rem;
  color: white;
  font-family: var(--title-font);
  padding-bottom: 1rem;
}
#submit-button{
  background-image: linear-gradient(to right, #3377ff, #725aff );
  color: white;
  display: flex;

}
.box .level a{
  padding: 0.5rem;
  border: 5px solid #725aff;
  color:black;
  font-size: 1.4rem;
  font-weight:600;
  width: 150px;
  color:  #725aff;
}
.box .level a:hover{
  background-color:  #725aff;
  color:white;
  border: 5px solid #725aff;

}
.content p {
  font-size: 1.3rem;
}

.level{
  gap: 0.2rem;
}
@media screen and (max-width: 769px) {
  .box .level a{
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  *{
    margin:0;
  }
  #download-resume{
display: none;  }
}


 #projects-section{
  background-image:linear-gradient(to right, #3377ff, #725aff );
}
.content img, .footer{
  border-radius: 1rem;
}

#footer{
  background-color: white;
}
input, textarea, ::placeholder,#projects-h2 {
  text-align: center;
}

#submit-button, #download-resume {
  font-weight:500; 
  transition: all .3s ease-in-out; 
  }
  
  #submit-button:hover,  #download-resume:hover { 
  transform: scale(1.08); 
  }

#trigger-hamburger:hover{
  background-color: #725aff;
  border-radius: 0.7rem;
  color:white;
}

#trigger-hamburger:hover span{
  color:white;
}
#trigger-hamburger span{
  height: 1.7px;
  color:black;
}
