*{
  font-family: 'Titillium Web', sans-serif;
}
body{  z-index: -1000;
}

#contact-form{
  width: 400px;
}
#jf{
  width: 35rem;
  margin-top: 4rem;
}
#navbar{
  position: sticky;
  top:0;
  background-color:#ffffff;
  border-bottom: 5.5px solid  #725aff;
}
#about-btn:hover, #projects-btn:hover, #contact-btn:hover{
  background-color: black;
  color: white !important;
  border-radius: 0.5rem;
}

#about-me-text{
  font-size: 1.4rem;
  line-height: 2.6rem;;

}
#projects-header{
  border-bottom: 4px solid  #ffffff;
  font-size: 3.5rem;
  color: #ffffff;
  letter-spacing: 0.11rem;
}
#about-container{
  background-color: #ffffff;
}
#wrapper{
  display: flex;
  flex-direction: column;
  

 
}
#test{
  flex-grow: 1;
  background-color:#ffffff;
  position: relative;


}
#test p, #arrows span {
  font-size: 2.5rem;
  color: black;
}
#about-me{
  color:black;
  font-size: 2.8rem;
}



#bounce-container p{
  animation: bounce-text 1.95s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  
}

@keyframes bounce-text{

  10%, 90%{

    transform: scale(1.03)

  }
  20%, 80%{
    transform: scale(1.06)


  }
  30%, 70%{
    transform: scale(1.09)


  }
  40%, 60%{
    transform: scale(1.12)


  }
  50%{
    transform: scale(1.16)


  }
}
#arrows{
  z-index: 15;
  animation: bounce-text 1.4s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
}
.box>*{
  color: black;
}
#about{
  background-color:#ffffff;

}
#test::after{
  content: " ";
  width: 100%;
  height: 370px;
  bottom:-18rem;
  position:absolute;
  background-image: linear-gradient(to right,#23ffff,#c0ffff);
  transform: skewY(-5deg);
}
@media screen and (max-width: 1023px) {
  #about-me{
    text-align: center !important;
    padding:0 !important;
  }
}
#submit-button{
  background-image: linear-gradient(to right, #3377ff, #725aff );
  color: white;
  display: flex;

}
#download-resume{
  background-image: linear-gradient(to right, #3377ff, #725aff );
  color: white;
  font-size: 1.2rem;
  max-width: 400px;
}
.box .level a{
  padding: 0.5rem;
  border: 5px solid #725aff;
  color:black;
  font-size: 1.4rem;
  font-weight:600;
  width: 150px;
  color:  #725aff;
}
.box .level a:hover{
  background-color:  #725aff;
  color:white;
  border: 5px solid #725aff;

}
.content p {
  font-size: 1.3rem;
}

.level{
  gap: 0.2rem;
}
@media screen and (max-width: 769px) {
  .box .level a{
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  *{
    margin:0;
  }
  #download-resume{
display: none;  }
}
@media screen and (max-width: 500px) {
  #bounce-container{
   display: none;
  }
}
#bounce-container{
  z-index: 10;
}

#projects{
  margin-top:-16rem;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

}
body, #projects{
  background-image:linear-gradient(to right, #3377ff, #725aff );
}
.content img, .footer{
  border-radius: 1rem;
}
@media screen and (max-width: 1023px) {
  #projects{
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%) !important;
    margin-top:0;
  }
  #about{
    background-image:linear-gradient(to right, #3377ff, #725aff );


  }
}
#footer{
  background-color: white;
}
input, textarea {
  text-align: center;
}

::placeholder {
  text-align: center;
}

#submit-button, #download-resume {
  font-weight:500; 
  transition: all .3s ease-in-out; 
  }
  
  #submit-button:hover,  #download-resume:hover { 
  transform: scale(1.08); 
  }

#et4g91Lls3E1{
  height: 52px;
  padding-left: 1rem;
}
.navbar-menu a {
  font-size: 1.2rem;
}
#trigger-hamburger:hover{
  background-color: #725aff;
  border-radius: 0.7rem;
  color:white;
}

#trigger-hamburger:hover span{
  color:white;
}
#trigger-hamburger span{
  height: 1.7px;
  color:black;
}
#linkedin:hover, #github:hover{
  transform: scale(1.2);
}